#dates {
    padding: 15px; 
    margin-bottom: 15px; 
}

#dates ion-label {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 162, 255, 0.664);
    height: 100%;
    width: 50%;
}
#dates ion-label div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dates ion-label ion-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
}
#dates ion-label ion-avatar img {
    height: 100%;
    width: 100%;
}

#dates ion-label div p {
    color: rgba(255, 255, 255, 0.397);
}

#dates div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}
