/* circle-data.component.scss */
#body_graphic {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    #main {
        width: 50vw;
        height: 30vw;
    }
}

@media (max-width: 768px) {
    #body_graphic {
        #main {
            width: 100vw;
            height: 30vh;
        }
    }
}