<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar>aca el logo de git hub</ion-avatar>
    <ion-title>Github</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="user.avatar_url" alt="Profile Image">
        </ion-avatar>
        <ion-label>
          <h2>{{ user.name }}</h2>
          <p>{{ user.login }}</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Bio:</strong> {{ user.bio }}</p>
      <p><strong>Public Repos:</strong> {{ user.public_repos }}</p>
      <p><strong>Created At:</strong> {{ user.created_at | date:'medium' }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let rep of repos">
    <ion-card-header>
      {{ rep.name }}
    </ion-card-header>
    <ion-card-content>
      <p><strong>Default Branch:</strong> {{ rep.default_branch }}</p>
      <p><strong>Branches:</strong> {{ rep.branches.join(', ') }}</p>
      <p><strong>Open Issues:</strong> {{ rep.open_issues }}</p>
      <p><strong>Languages:</strong> {{ rep.languages.join(', ') }}</p>
      <p><strong>Created At:</strong> {{ rep.created_at | date:'medium' }}</p>
      <p><strong>Pushed At:</strong> {{ rep.pushed_at | date:'medium' }}</p>
      <p><strong>Pull Requests:</strong></p>
      <ul>
        <li *ngFor="let pull of rep.pulls">
          <p><strong>Title:</strong> {{ pull.title }}</p>
          <p><strong>Created At:</strong> {{ pull.created_at | date:'medium' }}</p>
        </li>
      </ul>
      <p><strong>Issues:</strong></p>
      <ul>
        <li *ngFor="let issue of rep.issues">
          <p><strong>Title:</strong> {{ issue.title }}</p>
          <p><strong>State:</strong> {{ issue.state }}</p>
          <p><strong>Created At:</strong> {{ issue.created_at | date:'medium' }}</p>
          <p><strong>Closed At At:</strong> {{ issue.closed_at | date:'medium' }}</p>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-item>
  <ion-toolbar>
    <div id="footer-icons">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="home" (click)="goHome()"></ion-icon>
      <ion-icon name="logo-linkedin" (click)="goLinkedin()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-item>