/* Encabezado */
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    ion-avatar {
        margin: 1%;
        background:linear-gradient(to top, transparent ,rgba(255, 0, 0, 0.494));
    }
    ion-title{
        margin-right: 8%;
        font-size: 2.5vw;
        font-family: bold;
        font-weight: bold;
    }
}

/*encabezado de la card del usuario*/
#userInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.3vw;
    div{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #header_card_user{
        div{
            padding: 1%;
            flex: 0.8;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            ion-avatar{
                width: 20%;
                height: auto;
            }
            ion-label{
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-evenly;
                p{
                    font-size: 1.4vw;
                }
                span{
                    font-size: 1.2vw
                }
            }
        }
    }
}

/*barra de busqueda*/
ion-searchbar{
    --font-size: 1.3vw;
}

/* card basic of repos*/
#repos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    ion-card{
        width: 48%;
        padding: 0.5%;
        margin: 1%;
        ion-card-header{
            text-align: center;
            font-weight: bold;
            font-size: 1.2vw;
        }
        ion-card-content{
            p{
                font-size: 1vw;
            }
        }
    }
}

/* issues and pulls*/
#issue_and_pulls{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .title{
        color: white;
        width: 100%;
        text-align: center;
    }
    #pulls {
        flex: 1;
        background: blue;
        .pull_item{
            background-color: purple;
            padding: 1%;
        }
    }
    #issues {
        flex: 1;
        background: red;
        .issue_item{
            background: orangered;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            div{
                flex: 1;
                padding: 1%;
            }
        }
    }
}

/* Pie de página */
#footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    ion-icon {
        font-size: 2.5rem;
        color: white;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    #header{
        ion-title{
            font-size: 4vw;
            font-weight: bold;
            margin-right: 16%;
        }
    }
    #userInfo{
        flex-direction: column;
        div{
            padding-left: 5%;
            font-size: 4vw;
        }
        #header_card_user{
            div{
                flex-direction: column;
                ion-avatar{
                    width: 60%;
                    height: auto;
                }
                ion-label{
                    text-align: center;
                    p{
                        font-weight: bold;
                        font-size: 4vw;
                    }
                    span{
                        font-size: 3.6vw
                    }
                }
            }
        }
    }
    #repos{
        width: 100%;
        justify-content: center;
        ion-card{
            width: 90%;
            ion-card-header{
                font-size: 3.4vw;
            }
            ion-card-content{
                p{
                    font-size: 3vw;
                }
            }
        }
    }
    #footer-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.3rem;
        gap: 1rem;
    }
}
