/* Encabezado */
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    ion-avatar {
        margin: 1%;
        background:linear-gradient(to top, transparent ,rgba(255, 0, 0, 0.494));
    }
    ion-title{
        font-size: 2.5vw;
        font-family: bold;
        font-weight: bold;
    }
}

/*encabezado de la card del usuario*/
#header_card_user{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    ion-avatar{
        margin: 1%;
    }
}

/* Pie de página */
#footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    ion-icon {
        font-size: 2.5rem;
        color: white;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    #footer-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.3rem;
        gap: 1rem;
        color: white;
    }
}
