<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-avatar><img src="../../assets/icon/github_logo.png" alt="logo github"></ion-avatar>
      <ion-title>Github</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="window === 'repositories'">
  <ion-card>
    <ion-card-header>
      <div id="header_card_user">
        <ion-avatar slot="start">
          <img [src]="user.avatar_url" alt="Profile Image">
        </ion-avatar>
        <ion-label>
          <h2>{{ user.name }}</h2>
          <p>{{ user.login }}</p>
        </ion-label>
      </div>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Bio:</strong> {{ user.bio }}</p>
      <p><strong>Public Repos:</strong> {{ user.public_repos }}</p>
      <p><strong>Created At:</strong> {{ user.created_at | date:'medium' }}</p>
    </ion-card-content>
  </ion-card>

  <ion-searchbar (ionInput)="filterRepos($event)" show-clear-button="always"></ion-searchbar>

  <ion-card *ngFor="let rep of filteredRepos" (click)="getInfoRepo(rep)">
    <ion-card-header>
      {{ rep.name }}
    </ion-card-header>
    <ion-card-content>
      <p><strong>Description:</strong> {{ rep.description }}</p>
      <p><strong>Default Branch:</strong> {{ rep.default_branch }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="window === 'dataRepo'">
  <ion-button (click)="ChangeWindow()">
    back
  </ion-button>

  <p><strong>Branches:</strong> {{ infoRepo.branches.join(', ') }}</p>
  <p><strong>Languages:</strong> {{ infoRepo.languages.join(', ') }}</p>
  <p><strong>Created At:</strong> {{ infoRepo.created_at | date:'medium' }}</p>
  <p><strong>Pushed At:</strong> {{ infoRepo.pushed_at | date:'medium' }}</p>

  <p><strong>Pull Requests:</strong></p>
      <ul>
        <li *ngFor="let pull of infoRepo.pulls">
          <p><strong>Title:</strong> {{ pull.title }}</p>
          <p><strong>Created At:</strong> {{ pull.created_at | date:'medium' }}</p>
        </li>
      </ul>

  <p><strong>Issues:</strong></p>
  <ul>
    <li *ngFor="let issue of infoRepo.issues">
      <p><strong>Title:</strong> {{ issue.title }}</p>
      <p><strong>State:</strong> {{ issue.state }}</p>
      <p><strong>Created At:</strong> {{ issue.created_at | date:'medium' }}</p>
      <p><strong>Closed At At:</strong> {{ issue.closed_at | date:'medium' }}</p>
    </li>
  </ul>

  <p><strong>Contributors:</strong></p>
  <ion-item *ngFor="let col of infoRepo.contributions">
    <ion-avatar slot="start">
      <img [src]="col.avatar_url" alt="Collaborator Image">
    </ion-avatar>
    <ion-label>{{ col.login }}</ion-label>
    <ion-label slot="end"> {{col.contributions}} </ion-label>
    implement here a Bar of EchartsJS
  </ion-item>
</ion-content>

<ion-item>
  <ion-toolbar>
    <div id="footer-icons">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="home" (click)="goHome()"></ion-icon>
      <ion-icon name="logo-linkedin" (click)="goLinkedin()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-item>
