<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-avatar><img src="../../assets/icon/github_logo.png" alt="logo github"></ion-avatar>
      <ion-title>Github</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="window === 'repositories'">
  <ion-card id="userInfo">
    <div id="header_card_user">
      <div>
        <ion-avatar slot="start">
          <img [src]="user.avatar_url" alt="Profile Image">
        </ion-avatar>
        <ion-label>
          <p>{{ user.name }}</p>
          <span>{{ user.login }}</span>
        </ion-label>
      </div>
    </div>
    <div>
      <p><strong>Bio:</strong> {{ user.bio }}</p>
      <p><strong>Created At:</strong> {{ user.created_at | date:'medium' }}</p>
      <p><strong>Public Repos:</strong> {{ filteredRepos.length }}</p>
    </div>
  </ion-card>

  <ion-card>
    <ion-searchbar (ionInput)="filterRepos($event)" show-clear-button="always"></ion-searchbar>
  </ion-card>

  <div id="repos">
    <ion-card *ngFor="let rep of filteredRepos" (click)="getInfoRepo(rep)">
      <ion-card-header>
        {{ rep.name }}
      </ion-card-header>
      <ion-card-content>
        <p><strong>Default Branch:</strong> {{ rep.default_branch }}</p>
        <p><strong>Description:</strong> {{ rep.description }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="window === 'dataRepo'">
  <ion-button (click)="ChangeWindow()"> volver </ion-button>

  <ion-card id="data_repo">
    <h3 *ngIf="infoRepo.name"><strong>Name:</strong> {{ infoRepo.name }} </h3>
    <div id="top-info">
      <p *ngIf="infoRepo.branches"><strong>Branches:</strong> {{ infoRepo.branches.join(', ') }}</p>
      <p *ngIf="infoRepo.created_at"><strong>Created At:</strong> {{ infoRepo.created_at | date:'medium' }}</p>
      <p *ngIf="infoRepo.pushed_at"><strong>Pushed At:</strong> {{ infoRepo.pushed_at | date:'medium' }}</p>
    </div>
    <div id="description">
      <p *ngIf="infoRepo.description"><strong>Description:</strong> {{ infoRepo.description }}</p>
    </div>
  </ion-card>  

  <app-circle-data [languages]="infoRepo.languages" *ngIf="infoRepo.languages && infoRepo.languages.length !== 0"></app-circle-data>

  <div id="issue_and_pulls">
    <div id="pulls" *ngIf="infoRepo.pulls && infoRepo.pulls.length !== 0">
      <div class="title">
        <p><strong>Pull Requests:</strong></p>
      </div>
      <ion-card *ngFor="let pull of infoRepo.pulls" class="pull_item">
        <p><strong>Title:</strong> {{ pull.title }}</p>
        <p><strong>Created At:</strong> {{ pull.created_at | date:'medium' }}</p>
      </ion-card>
    </div>

    <div id="issues" *ngIf="infoRepo.issues && infoRepo.issues.length !== 0" >
      <div class="title">
        <p><strong>Issues:</strong></p>
      </div>
      <ion-card *ngFor="let issue of infoRepo.issues" class="issue_item">
        <div>
          <p><strong>Created At:</strong> {{ issue.created_at | date:'medium' }}</p>
          <p><strong>Closed At At:</strong> {{ issue.closed_at | date:'medium' }}</p>
        </div>
        <div>
          <p><strong>Title:</strong> {{ issue.title }}</p>
          <p><strong>State:</strong> {{ issue.state }}</p>
        </div>
      </ion-card>
    </div>
  </div>

  <div *ngIf="infoRepo.contributions && infoRepo.contributions.length !== 0">
    <ion-card>
      <p><strong>Contributors:</strong></p>
      <ion-item *ngFor="let con of infoRepo.contributions">
        <ion-avatar slot="start">
          <img [src]="con.avatar_url" alt="Collaborator Image">
        </ion-avatar>
        <ion-label> {{ con.login }} </ion-label>
        <ion-label slot="end"> {{ con.contributions }} </ion-label>
      </ion-item>

      <app-bar-data [contributors]="infoRepo.contributions"></app-bar-data>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer-icons">
      <ion-icon name="home" (click)="goHome()"></ion-icon>
      <ion-icon name="settings-outline" (click)="goSettings()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>
