<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>settings page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">settings page</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-item>
  <ion-toolbar>
    <div id="footer-icons">
      <ion-icon name="logo-github" (click)="goGitHub()"></ion-icon>
      <ion-icon name="home" (click)="goHome()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-item>