<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>settings page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Dark mode</ion-label>
    <ion-toggle slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>
    <ion-icon [name]="iconName" slot="end"></ion-icon>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer-icons">
      <ion-icon name="logo-github" (click)="goGitHub()"></ion-icon>
      <ion-icon name="home" (click)="goHome()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>