<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <div id="content">
    <ion-card>
      <ion-label>
        <ion-icon [name]="iconName" (click)="toggleTheme()"></ion-icon>
      </ion-label>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer-icons">
      <ion-icon name="logo-github" (click)="goGitHub()"></ion-icon>
      <ion-icon name="home" (click)="goHome()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>