<!-- src/app/home/home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Portafolio web</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="portfolio-container">
    <img id="profile-img" src="../../assets/programer.jpg" alt="Programer img">
    
    <div class="section">
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>¿Quién soy?</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>
              Soy un programador frontend junior con 1 año de experiencia en el desarrollo web. Tengo una sólida comprensión y experiencia en lenguajes como HTML5, CSS3, JavaScript y TypeScript. He trabajado con frameworks populares como React.js, Angular, y Vue.js, 
              además de tener experiencia con el framework Ionic para el desarrollo de aplicaciones móviles híbridas. Apasionado de los desafíos y al aprendizaje continuo, siempre buscando mejorar mis habilidades.
            </p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>

    <div class="section">
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Estudios</ion-label>
          </ion-item>
          <ion-item slot="content">Primaria: Marie Curie 2010 - 2015</ion-item>
          <ion-item slot="content">Secundaria: Casablanca 2016 - 2021</ion-item>
          <ion-item slot="content">Educación Superior: Sena (Tecnólogo: análisis y desarrollo de software) 2022 - 2024</ion-item>
        </ion-accordion>
      </ion-accordion-group>
    </div>

    <div class="section">
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Experiencia</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Sena: 2022 - 2023</p>
            <p>Grupo-ASD: 2023 - 2024</p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>

    <div class="section">
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Lenguajes de programación que manejo</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">

            <ion-item lines="none">
              <div class="button-group">
                <ion-button expand="block">Backend lenguajes</ion-button>
                <ion-button expand="block">Frontend lenguajes</ion-button>
                <ion-button expand="block">Bases de Datos lenguajes</ion-button>
              </div>
              <ion-card id="graficas">
                aca va el contenido de las graficas de las habilidades
              </ion-card>
            </ion-item>

          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer-icons">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="logo-github"></ion-icon>
      <ion-icon name="logo-linkedin"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>
